.mw{
    position: fixed;
    top: 0;
    left: 0;
}

.mw-overlay{
    position: absolute;
    width: 0px;
    height: 0px;

    background-color: #000000;
    transition: 0.8s;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    z-index: 998;
}

.mw-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        animation: fadeIn 0.8s;
        animation-delay: 1.5s;
        animation-fill-mode: both;
        z-index: 999;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


// test

/*メモ
1.モーダルウィンドウ欄とイメージ欄は別にしないとイメージもopacity:0.8になる
*/