.mw{
    position: fixed;
    top: 0;
    left: 0;
}

.mw-wrapper{
    width: 0px;
    height: 0px;

    background-color: #000000;
    transition: 0.8s;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mw-container{
}


// test

/*メモ
1.モーダルウィンドウ欄とイメージ欄は別にしないとイメージもopacity:0.8になる